.overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: var(--color-black-opacity-30);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: var(--color-background);
  box-shadow: 0px 8px 24px 0px #00000080;

  padding: 24px;

  max-height: 80vh;
  max-width: 80vw;

  overflow: auto;
  position: relative;

  &__close {
    position: absolute;
    border: none;
    background: none;
    top: 24px;
    right: 24px;
    cursor: pointer;
    &:focus-visible {
      outline-color: var(--color-hover);
    }
  }

  &__title {
    font-weight: 500;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xxl);
    color: var(--color-main);
    text-align: left;
    margin: 0;

    margin-bottom: 32px;
  }

  &__main {
    font-size: var(--font-size-s);
    line-height: var(--line-height);
  }

  &__buttons {
    display: flex;
    gap: 24px;
    justify-content: end;
  }
}
