:root {
  --color-main: #3f72af;

  --color-hover: #257fea;
  --color-hover-opacity-20: #257fea33;

  --color-light-blue: #bfcbe3;
  --color-blue: #8fb6ff;
  --color-background: #dbe2ef;

  --color-active: #65abff;
  --color-error: #ec1d1d;

  --color-black: #000000;
  --color-black-opacity-30: #0000004d;
  --color-white: #fff;
}
