:root {
  --font-family-primary: "Roboto", sans-serif;

  // line heights
  --line-height-s: 20px;
  --line-height: 24px;
  --line-height-m: 36px;
  --line-height-l: 40px;
  --line-height-xl: 46px;
  --line-height-xxl: 56px;

  // font sizes
  --font-size-xxs: 14px;
  --font-size-xs: 18px;
  --font-size-s: 20px;
  --font-size-m: 24px;
  --font-size-l: 1.125rem;
  --font-size-xl: 36px;
  --font-size-xxl: 40px;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
